<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
<style>



  .main{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  form{
    flex-basis: 25%;
    background-color:rgba(80, 146, 233, 0.5);
    padding:20px;
  }

 .chartclass{
   display:flex;
   justify-content: space-evenly  ;
   align-items:center;
   margin: 10px;
 
 }
.charts{
  border: 2px solid black;

}
 #canvas{
   flex-grow: 2;
   
 }

 .totaldowntoday{
   padding: 20px;
   font-size: 100px;
   text-align: center;
 }
</style>


</head>
<body>

  
  
    <ul class="nav nav-tabs bg-dark white">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
        <li class="nav-item">
       
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'downlist' %}">Downlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'operational' %}">Operational</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add' %}">Add Down Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'olt' %}">OLTs</a>
        </li>
      </ul>
    {% block content %}

    {% endblock %}
</body>
</html>
