{% extends 'base.html' %}

{% block content%}

<table class="table">
    <thead>
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">OLT Name</th>
        <th scope="col">Downtime</th>
        <th scope="col">Uptime</th>
        <th scope="col">Province</th>
        <th scope="col">Client</th>
        <th scope="col">Reason</th>
        <th scope="col">Uplink Down</th>
        <th scope="col">Ack</th>
      </tr>
    </thead>
    <tbody>
        {% for oltdowns in olt_down %}
        {% if oltdowns.uptime == Null %}
      <tr>
        <th scope="row">{{oltdowns.id}}</th>
        <td>{{oltdowns.olt_name}}</td>
        <td>{{oltdowns.downtime}}</td>
        <td>{{oltdowns.uptime}}</td>
        <td>{{oltdowns.province}}</td>
        <td>{{oltdowns.client_count}}</td>
        <td>{{oltdowns.reason}}</td>
        
      

        
        
        {% if oltdowns.down_self %}
        <td class="btn-success">{{oltdowns.down_self}}</td>
        {% endif %}
        <td><a href="{% url 'updatedata' oltdowns.id %}" >Update</a></td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

{% endblock %}