{% extends 'base.html' %}

{% block content%}

<table class="table">
    <thead>
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">OLT Name</th>
        <th scope="col">Downtime</th>
        <th scope="col">Uptime</th>
        <th scope="col">Clients</th>
        <th scope="col">Province</th>
        <th scope="col">Clients</th>
      </tr>
    </thead>
    <tbody>
        {% for oltdowns in oltdown %}
      <tr>
        <th scope="row">{{oltdowns.id}}</th>
        <td>{{oltdowns.olt_name}}</td>
        <td>{{oltdowns.downtime}}</td>
        <td>{{oltdowns.uptime}}</td>
        <td>{{oltdowns.client_count}}</td>
        <td>{{oltdowns.province}}</td>
        <td><a href="{% url 'updatedata' oltdowns.id %}" >Test</a></td>
        {% if olt_datas.down_self %}
        <td><span style="background-color: red;">Uplink Down</span></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

